h1 {
    text-align: center;
    color: rgb(199, 121, 5);
    font-size: 500;
}
p {
    text-align: center;
    color: rgb(165, 162, 156);
}



.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons img {
    width: 80px;
    border-radius: 100px;
}